body {
  background-color: var(--colour-grey);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.photo-card,
.info-card {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.photo-card {
  background-color: var(--colour-turquoise);
}

.photo-card-caption {
  color: var(--font-colour-body-lighter);
  padding: 0.5rem 1rem;
  text-align: center;
}

.info-card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--colour-grey);
  text-align: center;
}

.info-card-price {
  color: var(--colour-orange);
  font-weight: 600;
}

.info-card-price-chevron {
  transition: transform 0.1s ease-out;
}

.info-card-pricing.open .info-card-price-chevron {
  transform: rotateZ(-180deg);
}

.info-card-prices {
  font-size: 1.15rem;
  font-style: italic;
  margin-top: 1rem;
}

.info-card-pricing:not(.open) .info-card-prices {
  display: none;
}

.info-card-prices-amount {
  font-weight: 600;
}

/* Hero */
.hero {
  min-height: 100svh;
  margin-top: -86px;
  display: flex;
  align-items: center;
  background-color: var(--colour-turquoise);
  background-image: url(images/hero-background.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: calc(100% + 35px);
  background-repeat: no-repeat;
}

.hero-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 465px;
}

/* Why people love us */
.why-people-love-us {
  display: grid;
  gap: 3rem;
  background-image: url(images/why-people-love-us-background.png);
  background-size: contain;
  background-position-y: 2rem;
  background-repeat: no-repeat;
}

.why-people-love-us-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

/* Our services */
.our-services {
  display: grid;
  gap: 3rem;
  background-color: var(--colour-turquoise);
  padding-bottom: 0;
  background-image: url(images/our-services-background.png);
  background-position: 20px 5px;
  background-size: calc(100% - 20px);
  background-repeat: repeat-y;
}

.our-services-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.our-services-jack-russell {
  margin-inline: auto;
  width: 443px;
}

/* Find us */
.find-us-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.find-us-info {
  display: grid;
  align-content: center;
  gap: 1.5rem;
}

.find-us-map {
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  width: 100%;
  aspect-ratio: 60/45;
}

/* FAQs */
.faqs-heading {
  text-align: center;
}

.faqs-list {
  margin-top: 3rem;
  display: grid;
  gap: 1.5rem;
}

.faq {
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  color: var(--font-colour-body-lighter);
  overflow: hidden;
}

.faq-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease-out;
  text-align: left;
}

.faq-header:hover,
.faq.open .faq-header {
  background-color: rgba(0, 0, 0, 0.05);
}

.faq-header-chevron {
  width: 12px;
  flex-shrink: 0;
  margin-left: 1rem;
  transition: transform 0.1s ease-out;
}

.faq.open .faq-header-chevron {
  transform: rotateZ(-180deg);
}

.faq-body {
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
}

.faq:not(.open) .faq-body {
  display: none;
}

/* Find us and FAQ section */
.find-us-faq {
  background-image: url(images/find-us-faq-background.png);
  background-size: 100%;
  background-repeat: repeat-y;
}

@media (max-width: 815px) {
  .card-grid {
    grid-template-columns: 1fr;
  }

  .find-us-container {
    grid-template-columns: 1fr;
  }

  .find-us-info {
    text-align: center;
  }
}
