.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.photo-card,
.info-card {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.photo-card {
  background-color: var(--colour-turquoise);
}

.photo-card-caption {
  color: var(--font-colour-body-lighter);
  padding: 0.5rem 1rem;
  text-align: center;
  font-weight: 500;
}

.info-card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--colour-grey);
  text-align: center;
}

.info-card-price {
  color: var(--colour-orange);
  font-weight: 700;
}

.info-card-price-chevron {
  transition: transform 0.1s ease-out;
}

.info-card-pricing.open .info-card-price-chevron {
  transform: rotateZ(-180deg);
}

.info-card-prices {
  font-size: 1.15rem;
  font-style: italic;
  margin-top: 1rem;
}

.info-card-pricing:not(.open) .info-card-prices {
  display: none;
}

.info-card-prices-amount {
  font-weight: 700;
}

/* Why people love us */
.why-people-love-us {
  display: grid;
  gap: 3rem;
  background-size: contain;
  background-position-y: 2rem;
  background-repeat: no-repeat;
}

.why-people-love-us-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

/* Our services */
.our-services {
  display: grid;
  gap: 3rem;
  background-color: var(--colour-turquoise);
  padding-bottom: 0;
  background-position: 20px 5px;
  background-size: calc(100% - 20px);
  background-repeat: repeat-y;
}

.our-services-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.our-services-jack-russell {
  margin-inline: auto;
  width: 443px;
  height: auto;
}

/* Testimonials */
.testimonials-section-headline {
  text-align: center;
}

.testimonials-section-swiper {
  position: relative;
  margin-top: 3rem;
  padding-bottom: 45px;
}

.testimonials-section-swiper {
  --swiper-navigation-size: 30px;
  --swiper-navigation-top-offset: calc(
    100% - var(--swiper-navigation-size) / 2
  );
  --swiper-pagination-bottom: 0;
  --swiper-pagination-top: auto;
}

.swiper-wrapper {
  cursor: grab;
}

.swiper-slide {
  height: auto;
}

.google-review {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 100%;
  background-color: var(--colour-turquoise);
  border-radius: 20px;
  padding: 2rem;
  font-size: 1.1rem;
}

.google-review-header {
  display: flex;
}

.google-review-avatar {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.google-review-name {
  font-weight: 800;
}

.google-review-stars {
  --height: 18px;
  --width: calc(var(--height) * 1.228);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.44 19'><polygon fill='%23fbbc04' points='10,15.27 16.18,19 14.54,11.97 20,7.24 12.81,6.63 10,0 7.19,6.63 0,7.24 5.46,11.97 3.82,19'/></svg>");
  background-size: var(--width) var(--height);
  background-repeat: repeat-x;
  width: calc(var(--width) * 5);
  height: var(--height);
}

.testimonials-section-see-more {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: right;
  text-decoration: underline;
  vertical-align: middle;
}

.testimonial-section-see-more-arrow {
  height: 1em;
  fill: currentColor;
  vertical-align: middle;
}

/* Find us */
.find-us-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.find-us-info {
  display: grid;
  align-content: center;
  gap: 1.5rem;
}

.find-us-map {
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  width: 100%;
  aspect-ratio: 60/45;
}

/* FAQs */
.faqs-heading {
  text-align: center;
}

.faqs-list {
  margin-top: 3rem;
  display: grid;
  gap: 1.5rem;
}

.faq {
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  color: var(--font-colour-body-lighter);
  overflow: hidden;
}

.faq-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease-out;
  text-align: left;
}

.faq-header:hover,
.faq.open .faq-header {
  background-color: rgba(0, 0, 0, 0.05);
}

.faq-header-chevron {
  width: 12px;
  flex-shrink: 0;
  margin-left: 1rem;
  transition: transform 0.1s ease-out;
}

.faq.open .faq-header-chevron {
  transform: rotateZ(-180deg);
}

.faq-body {
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
}

.faq:not(.open) .faq-body {
  display: none;
}

/* Find us and FAQ section */
.find-us-faq {
  background-size: 100%;
  background-repeat: repeat-y;
}

@media (max-width: 815px) {
  .card-grid {
    grid-template-columns: 1fr;
  }

  .find-us-container {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .find-us-info {
    text-align: center;
  }
}

@media (max-width: 729px) {
  .testimonials-section-see-more {
    text-align: center;
  }
}
